@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>LEARN MATH OR DIE</p>
    <a href="@Url.Action("LevelView", "Home")">Start Game</a>
</div>
