@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>LEARN MATH OR DIE</p>

    <form method="post" action="@Url.Action("LevelView", "Home")">
        <label for="playerName">Enter your name:</label>
        <input type="text" id="playerName" name="playerName" required>
        <br>
        <button type="submit">Start Game</button>
    </form>
</div>