/* Add styles for the game container */
#game-container {
    width: 852px;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    position: relative;
    padding: 0;
    overflow: hidden;
}

/* CSS for the background image */
.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1152px; /* Adjust the width according to your frame image size */
    height: 288px; /* Adjust the height according to your frame image size */
    background-size: 100% auto;
    background-repeat: no-repeat; /* Prevent vertical repeating */
    animation: scrollBackground 10s linear infinite;
}

/* CSS for the frame container */
#frame-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 12562px; /* Adjust the width according to your frame image size */
    height: 288px; /* Adjust the height according to your frame image size */
    overflow: hidden; /* Hide any overflow from the background image */
}


