
#game-container {
    width: 852px;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1152px;
    height: 288px; 
    background-size: 100% auto;
    background-repeat: no-repeat; 
    animation: scrollBackground 10s linear infinite;
}

#frame-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 12562px; 
    height: 288px; 
    overflow: hidden; 
}


